
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono|Fredoka+One');
// @import "./reset.scss";
// @import "./base.scss";


// .login-container {
//   // position: absolute;
//   display: block;
//   text-align: center;
//   top: 50%;
//   left: 50%;
//   margin-top: 15%;
// }
//
// .login-container input {
//   width: 100%;
// }
//
// .login-form {
//   display:inline-block;
//   margin-left: auto;
//   margin-right:auto;
//   align-self: center;
// }
